# Create new Twitter bot account and get API keys
#
# https://apps.twitter.com/ 

# Your Twitter bot name
TWITTER_ACCOUNT=CyberDash

# Real-time Twitter track filter for testing with src/stream.js
TRACK_Filter=cyberSec, infoSec, cyberSecurity, infoSecurity, hacking, penTesting, cyberNews, security, cyberThreat, cyberAttack, cyberCrime, dataBreach

# Required minimum followers to process the tweet
MIN_FOLLOWERS=3000

# Twitter bot API keys
CONSUMER_KEY=
CONSUMER_SECRET=
ACCESS_TOKEN=
ACCESS_TOKEN_SECRET=

# Copy this file to .env for local testing of your Twitter bot with node.js
